In [1]:
#lib 
from collections import Counter

In [2]:
print(Counter(['B','B','A','C','A','E','G','A','B','C']))

Counter({'B': 3, 'A': 3, 'C': 2, 'E': 1, 'G': 1})

In [3]:
#with dictionary
print(Counter({'B': 3, 'A': 3, 'C': 2, 'E': 1, 'G': 1}))

Counter({'B': 3, 'A': 3, 'C': 2, 'E': 1, 'G': 1})

In [4]:
#with keyword arguments
print(Counter(A=3,B=5,C=2))

Counter({'B': 5, 'A': 3, 'C': 2})

In [5]:
#updation in counters

var1 = Counter()

data = [1,2,8,6,8,9,5,6,4,7,6,2,3,1,4,7,8,5,1,2,3,6,8,]

var1.update(data)
print(var1)

Counter({8: 4, 6: 4, 1: 3, 2: 3, 5: 2, 4: 2, 7: 2, 3: 2, 9: 1})

In [6]:
#subtract two counters

var1 = Counter(a=5,b=6,c=6,d=3)
var2 = Counter(a=2,b=4,c=5,d=1)

var1.subtract(var2)
print(var1)

Counter({'a': 3, 'b': 2, 'd': 2, 'c': 1})

In [7]:
#printing counter values

var1 = Counter("svcghdsvfhjhjdsgfusugfvjds")
print(var1)

print("Keys= ",var1.keys())
print("values= ",var1.values())
print("items= ",var1.items())

Counter({'s': 5, 'v': 3, 'g': 3, 'h': 3, 'd': 3, 'f': 3, 'j': 3, 'u': 2, 'c': 1})
Keys=  dict_keys(['s', 'v', 'c', 'g', 'h', 'd', 'f', 'j', 'u'])
values=  dict_values([5, 3, 1, 3, 3, 3, 3, 3, 2])
items=  dict_items([('s', 5), ('v', 3), ('c', 1), ('g', 3), ('h', 3), ('d', 3), ('f', 3), ('j', 3), ('u', 2)])

In [8]:
#ordered dictionary

print("Dict")

var ={}

var['Name'] = "Sahana"
var['age'] = 12
var['class'] = 5
var['school'] = "xyz"

print(var)

for key,values in var.items():
    print("keys =",key," ","values =",values)

Dict
{'Name': 'Sahana', 'age': 12, 'class': 5, 'school': 'xyz'}
keys = Name   values = Sahana
keys = age   values = 12
keys = class   values = 5
keys = school   values = xyz

In [13]:
from collections import OrderedDict

print("Ordereddict")
var1 = OrderedDict()

var1['StudentName'] = "bhuvan"

var1['StudentId'] = 4
var1['course'] = "python"
    
print(var1)
    
for key,values in var.items():
    print("keys =",key," ","values =",values)

Ordereddict
OrderedDict([('StudentName', 'bhuvan'), ('StudentId', 4), ('course', 'python')])
keys = Name   values = Sahana
keys = age   values = 12
keys = class   values = 5
keys = school   values = xyz

In [15]:
#Ordereddict deleting

var1.pop('course')

'python'

In [16]:
#after delete

print(var1)

OrderedDict([('StudentName', 'bhuvan'), ('StudentId', 4)])

In [18]:
#ordered dict inserting

var1['course'] = "Data Analyst"

In [19]:
print(var1)

OrderedDict([('StudentName', 'bhuvan'), ('StudentId', 4), ('course', 'Data Analyst')])

In [23]:
#initializing default dict objects

from collections import defaultdict

dd = defaultdict(int)

lists = [1,2,3,34,45,2,1,4,55,67,88,98,88]

for i in lists:
    dd[i] +=1
    
print(dd)

defaultdict(<class 'int'>, {1: 2, 2: 2, 3: 1, 34: 1, 45: 1, 4: 1, 55: 1, 67: 1, 88: 2, 98: 1})

In [24]:
dd1 = defaultdict(list)

for i in range(1,11):
    dd1[i].append(i)
    
print(dd1)

defaultdict(<class 'list'>, {1: [1], 2: [2], 3: [3], 4: [4], 5: [5], 6: [6], 7: [7], 8: [8], 9: [9], 10: [10]})

In [25]:
#chainmap

from collections import ChainMap

var1 = {"a":1,"b":3,"c":6}
var2 = {"a":5,"d":3,"e":7}
var3 = {"e":5,"f":7,"g":10}

var4 = ChainMap(var1,var2,var3)

print(var4)

ChainMap({'a': 1, 'b': 3, 'c': 6}, {'a': 5, 'd': 3, 'e': 7}, {'e': 5, 'f': 7, 'g': 10})

In [26]:
print(var4['e'])

7

In [27]:
print(var4.keys())

KeysView(ChainMap({'a': 1, 'b': 3, 'c': 6}, {'a': 5, 'd': 3, 'e': 7}, {'e': 5, 'f': 7, 'g': 10}))

In [29]:
print(var4.values())

ValuesView(ChainMap({'a': 1, 'b': 3, 'c': 6}, {'a': 5, 'd': 3, 'e': 7}, {'e': 5, 'f': 7, 'g': 10}))

In [30]:
from collections import ChainMap

p1 = {"a":1,"b":3,"c":6}
p2 = {"a":5,"d":3,"e":7}
c1 = {"e":5,"f":7,"g":10}

main = ChainMap(p1,p2)

#printing ChainMap
print("all the ChainMap contents are : ")
print(main)

#using new_child()

main1 = main.new_child(c1)

print("Displaying chaimap")
print(main1)

all the ChainMap contents are :
ChainMap({'a': 1, 'b': 3, 'c': 6}, {'a': 5, 'd': 3, 'e': 7})
Displaying chaimap
ChainMap({'e': 5, 'f': 7, 'g': 10}, {'a': 1, 'b': 3, 'c': 6}, {'a': 5, 'd': 3, 'e': 7})

In [40]:
#nametuple

from collections import namedtuple
student = namedtuple('student',['name','age','DOB'])
S = student('Nandini','19','24-06-2002')
print("Before using _make()",S)
print("----------------------------------------")
li = ['Manjeet', '20', '243244']
print("The nametuple instance using iterable is :")
print(student._make(li))

Before using _make() student(name='Nandini', age='19', DOB='24-06-2002')
----------------------------------------
The nametuple instance using iterable is :
student(name='Manjeet', age='20', DOB='243244')

In [41]:
li = ['Manjeet', '20', '243244']

di = {'name' : "NIKHIL", 'age': 22,'DOB':'24-06-2002'}

print("the ordereddict instance using namedtuple is :")
print(S._asdict())

the ordereddict instance using namedtuple is :
{'name': 'Nandini', 'age': '19', 'DOB': '24-06-2002'}

In [42]:
from collections import deque

de = deque([1,2,3])
de.append(4)
print(de)

deque([1, 2, 3, 4])

In [43]:
de.appendleft(5)
print(de)

deque([5, 1, 2, 3, 4])

In [44]:
de.pop()

4

In [46]:
de.popleft()
print(de)

deque([2, 3])