# datatypes

------basic datatypes-------
1.string = "",'',''''''
2.int = 1
3.boolean
4.float = 1.1

----------adv datatypes----------
list[]
tuples()
dict.{keys: values}
set={}

# TYPE CASTING

In [ ]:
a = 10
print("a value is:",a)
print(type(a))
print("------------")
d = complex(a)
print(d)
print (type(d))

In [ ]:
a = 10
print("a value is:",a)
print(type(a))
print("------------")
d = float(a)
print(d)
print (type(d))

In [ ]:
a = 10
print("a value is:",a)
print(type(a))
print("------------")
d = str(a)
print(d)
print (type(d))

In [ ]:
a = 10
print("a value is:",a)
print(type(a))
print("------------")
d = bool(a)
print(d)
print (type(d))

In [ ]:
a = (2+0j)
print("a value is:",a)
print(type(a))
print("------------")
d = int(a)
print(d)
print (type(d))

In [12]:
a = (2+0j)
print("a value is:",a)
print(type(a))
print("------------")
d = str(a)
print(d)
print (type(d))

a value is: (2+0j)
<class 'complex'>
------------
(2+0j)
<class 'str'>

In [ ]:
a = (2+0j)
print("a value is:",a)
print(type(a))
print("------------")
d = float(a)
print(d)
print (type(d))

In [ ]:
a = (2+0j)
print("a value is:",a)
print(type(a))
print("------------")
d = bool(a)
print(d)
print (type(d))

In [ ]:
num =10
print("before converting")
print(type(num))
print("--------------")
string = str(num)
print("after converting")
print(type(num))

# TYPE OF OPERATORS

In [ ]:
1.ARITHEMETIC
2.COMPARISON
3.ASSIGNMENT
4.LOGICAL
5.BITWISE BIN
6.MEMBERSHIP[IN,NOT]
7.IDENTITY

# Arithmetic

+
-
*
/
**
%
//

In [ ]:
v1 = 20
v2 = 10

add = v1+v2
print("add=",add)
sub = v1-v2
print("sub=",sub)
div = v1/v2
print("div=",div)
mul = v1*v2
print("mul=",mul)
expo = v1**v2
print("expo=",expo)
mod = v1%v2
print("mod=",mod)
floordiv = v1//v2
print("floordiv=",floordiv)

# COMPARISON OPERATORS

==
!=
>
<
>=
<=

In [ ]:
a = 8
b = 2

print(a>b)
print(a<b)
print(a!=b)
print(a==b)
print(a>=b)
print(a<=b)

# ASSIGNMENT

=
+=
-=
*=
/=
//=
**=
%=

In [1]:
a = 10
b = 2
b += a
print(b)

12

In [ ]:
a = 10
b = 2
b -= a
print(b)

In [ ]:
a = 10
b = 2
b *= a
print(b)

In [ ]:
a = 10
b = 2
b /= a
print(b)

In [ ]:
a = 10
b = 2
b //= a
print(b)

In [ ]:
a = 10
b = 2
b **= a
print(b)

In [2]:
a = 10
b = 2
b /= a
print(b)

0.2

# BITWISE OPERATORS

In [ ]:
a = (60)
b =(13)
print("a:",bin(a))
c = a + b
print(c)
print(bin(c))

In [ ]:
#MEMBERSHIP OPERATOR


a = 10
b = 20
lists = [1,2,3,4,5]


if (a in lists)
print("line 1 - a is available in the ")

# logical operator

and
or
not

In [ ]:
num1 = 10

print(num1 > 10 and num1 <=12)

In [ ]:
num2 = 10
print(num2 > 10 or num2 <=10)

In [ ]:
#and operator

x = 5
print(x > 3 and x < 10)

In [ ]:
#or operator

x = 5
print(x > 5 1 or x < 10)

In [ ]:
#or operator

x = 5

print(not(x > 3 or x > 10))

# BITWISE BIN

In [ ]:
#bitwise operators

a = 10
b = 4

#print bitwise AND operation
print("a & b",a & b)

#print bitwise OR operation
print("a | b",a | b)

#print bitwise NOT operation
print("~a",~a)

#print bitwise XOR operation
print("a^b",a ^ b)

# ADVANCE DATATYPES

In [ ]:
var1 = 'hello world'
#var2 = 'python programming'
print(var1)
print(var1[0])


print("rnter a updated string",var1[0:6]+'python')

print(var1[::])
print(var1[0:])
print(var1[:9])

# list

In [ ]:
lis = ['apple','bat','124',80,90.4]
thinylist = [123,'john']
print(lis)
print(lis[0])
print(lis[-4])
print(lis+thinylist)

print(thinylist * 2)

# TUPLE

In [ ]:
tup = ('abcd',786,2.3,'john',70.2)
thinytuple =(123,'john')
print(tup)
print(tup[-1])
print(tup[4])
print(tup[0:4])
print(thinytuple * 2)

# DIC

In [ ]:
dic = {}
dic['one'] = "this is one"
dic [2] = "this is two"

print("-----------")
print(dic)
print("-----------")
print(dic['one'])
print("-----------")
print(dic[2])
print("-----------")
print(dic.keys())
print("-----------")
print(dic.values())

# IF ELSE

In [ ]:
a = 10
b = 20

if(a>b):
    print("A is greater than B")
print("if condition is completed")

In [ ]:
King

In [ ]:
a = 10
b = 20

if(a>b):
    print("A is greater than B")
else:
    print("A is less than B")
print("if....elseee....condition...is completed")

In [ ]:
a = 10
b = 20
c = 15

if(a>b):
    print("a is greater than b")
elif(b<c):
    print("b is less than c")
elif(a<c):
    print("a is greater than c")
elif(c<a):
    print("a is greater than c")
else:
    print("b is greater than c")
print("if...elif..else..condition completed")

In [ ]:
var = 10

if (var>11):
    print("var num")
    print(var)
print("python")

In [ ]:
num = 11

if num>=11:
    print("number")
    print(num)

#false
print("python|")

# calculator

In [ ]:
num1 = int(input("enter the first no."))
num2 = int(input("enter the second no."))

add = num1+num2
print("sum of two no.=",add)

In [ ]:
num1 = int(input("enter the first no."))
num2 = int(input("enter the second no."))
choice=int(input("enter your choice="))

if(choice==1):
    add=num1+num2
    print("sum of two no.=",add)
    
elif(choice==2):
    sub=num1-num2
    print("sub of two no.=",sub)
    
elif(choice==3):
    div=num1/num2
    print("div of two no.=",div)
    
elif(choice==4):
    mul=num1*num2
    print("mul of two no.=",mul)
    
elif(choice==5):
    mod=num1%num2
    print("mod of two no.=",mod)
    
elif(choice==6):
    exp=num1**num2
    print("exp of two no.=",exp)
    
elif(choice==7):
    floordiv=num1//num2
    print("floordiv of two no.=",floordiv)
    
else:
    print("invalid input")

# NESTED IF

In [ ]:
amount = int(input("Enter the amount :"))

if amount <2000:
    if amount >=1000:
        print("a")
    else:
        print("b")
        
else:
    if amount <=3500:
        print("c")
    else:
        print("d")

In [ ]:
num = int(input("enter the numcber"))

if num%2 == 0:
    if num%3==0:
        print("Divisible by 3 and 2")
    else:
        print("Not divisible by 2 and 3")
            
            
else:
    if num%4==0:
        print("Divisible by 4")
    else:
        print("Not divisible by 4")

In [ ]:
num = int(input("enter the numcber"))


if num%2==0:
    if num%3 == 0:
        print("Divisible by 3 and 2")
    else:
        print("Not divisible by 2 and 3")
        
else:
    if num%4==0:
        print("Divisible by 4")
    else:
        print("not div by 4")

# LOOPS

1.while loop
2.for loop
3.nested for loop

In [ ]:
#while loop
count = 0
while(count<=5):
    print("the count is",count)
    count = count+1
print("DONE")

In [ ]:
#use else statements with loops

count = 10
while count>5:
    print(count,"is greater than 5")
    count = count-1
else:
    print(count,"is less than 5")

In [ ]:
count = 10
while count >= 8:
    print("current", count)
    count = count + 1
else:
    print("out of loop")

In [ ]:
count = 10
while count <= 10:
    print("current", count)
    count = count - 1
else:
    print("out of loop")

In [ ]:
letter = "python "
for x in letter:
    print(x)
print("Done")

In [ ]:
letter ="python hello"
print(len(letter))

In [ ]:
for letter in 'Python hello ':
    print(letter)
print("Done")

In [ ]:
a = "python hello"
for letter in a:
    print(a)
print("Done")

In [ ]:
letter = "python"
for n in letter:
    print(n)

In [ ]:
a = ('ball','bat','cat')

for d in a:
    print(d)
print("done")

# slice

In [ ]:
print(list(range(1,10,2)))

In [ ]:
print(list(range(0,21)))

In [ ]:
a = range(5,10)
print(tuple(a))

In [ ]:
for x in a:
    print(x)

In [ ]:
print(range(1,10))

In [ ]:
for x in range(1,11,2):
    print(x)

In [ ]:
#break
for letter in 'python':
    if letter == 't':
        break
    print('',letter)
    
    
var = 10
while var > 0:
    print("current variable value:",var)
    
    var = var-1
    if var == 1:
        break
        
print("Break condition")

In [ ]:
#continue
for letter in 'python':
    if letter == 'y':
        continue
    print('',letter)
    
    
var = 10
while var > 0:
    
    
    var = var-1
    if var == 9:
        print("current variable value:",var)
        continue
        
print("Break condition")

In [ ]:
#pass
for letter in 'python':
    if letter == 't':
        pass
    print('',letter)
    
    
var = 10
while var > 0:
    print("current variable value:",var)
    
    var = var-1
    if var == 1:
        pass
        
print("Break condition")

In [ ]:
amount = int(input("Enter the amount : "))
if (amount < 1000):
    dis = amount*0.05
    print("discount",dis)
    print("net payable", amount-dis)
elif (amount>=1000 | amount<=5000):
     dis = amount*0.10
    print("discount",dis)
    print("net payable", amount-dis)
elif (amount>=5000 | amount<=10000):
     dis = amount*0.15
    print("discount",dis)
    print("net payable", amount-dis)
else:
     dis = amount*0.20
    print("discount",dis)
print("net payable",amount-dis)

In [ ]:
amount = int(input("enter the amount : "))

if(amount<1000):
    dis = amount*0.05
    print("discount",dis)
    print("net payable",amount-dis)
elif(amount>=1000 | amount<=5000):
    dis = amount*0.10
    print("discount",dis)
    print("net payable",amount-dis)
elif(amount>=5000 | amount<=10000):
    dis = amount*0.15
    print("discount",dis)
    print("net payable",amount-dis)
else:
    dis = amount*0.20
    print("discount",dis)
    print("net payable",amount-dis)

In [11]:
amount = int(input("Enter the amount:"))



if amount >=1 and amount<=1000:
    
    dis = amount*0.5
    print("Discount amount is:",dis)

    
elif amount>=1000 and amount<=5000:
    
    dis = amount*0.10
    print("Discount amount is:",dis)

else:
    
    dis = amount*0.15
    print("Discount amount is:",dis)

    
    
netpay = amount-dis
print("netpay =",netpay)

Enter the amount:1000
Discount amount is: 500.0
netpay = 500.0

# STRING

In [1]:
var1 = "helo world"
#var2 = "python programming"

print(var1[0])

print("enter the updated string",var1[:6] +'python')

h
enter the updated string helo wpython

In [3]:
a = 'hello'
b =' world'

print(a+b)

hello world

In [5]:
a = 'apple '
b = 3
print(a*b)

apple apple apple

In [6]:
#string formatting operator

a = 'zara'
b = 24
print("My name is and weight is kg",a,b)

My name is and weight is kg zara 24

In [9]:
print("My name is %s and weight is %d kg"(a,b))

My name is zara and weight is 24 kg

%s - string
%d - decimal
\t - tab[3times space]

In [11]:
strs = "hello pooja, welcome to educadd"
print(strs.capitalize())

Hello pooja, welcome to educadd

In [13]:
name ="ehello welcome to educadd"
s = name.capitalize()#capital
print("s ,variable==",s)
sub = 'e'
print(s.count(sub))

s ,variable== Ehello welcome to educadd
4

In [14]:
name = "welcome to educadd"
sub = "t"
print(name.find(sub))

8

In [15]:
a = "hello word"
b = "HELLO"
print("lower",b.islower())#false
print("upper",b.isupper())#true
print("-------------------------------")
print("lower",b.islower())#true
print("upper",b.isupper())#false

lower False
upper True
-------------------------------
lower False
upper True

In [16]:
a = '123'
print(a.isdigit())

True

In [17]:
b = " "
print(b.isspace())

True

In [18]:
a = "HELLO"
b = "world"
print("len",len(a))
print("upper",b.upper())
print("lower",a.lower())
print("join",a.join(b))

len 5
upper WORLD
lower hello
join wHELLOoHELLOrHELLOlHELLOd

In [ ]:
1.Append
2.count
3.Index

In [2]:
fruits = ["apple","banana","cherry","orange","kiwi","melon","mango"]
print(fruits[3:5])
print(len(fruits))
print(type(fruits))

['orange', 'kiwi']
7
<class 'list'>

In [3]:
fruits = ("apple","banana","cherry")
print(len(fruits))
print(type(fruits))

3
<class 'tuple'>

In [4]:
lis = ['p','c','97','01']
lis2 = '03'
print(lis)
print(lis2)
del lis2
del lis[0]
print(lis)
print(lis2)

['p', 'c', '97', '01']
03
['c', '97', '01']

NameError: name 'lis2' is not defined

In [5]:
print(['python']*3)
print(len(['python']*3))

['python', 'python', 'python']
3

In [6]:
a = [1,110,2,3,4,4,55,8,100]
print(min(a))
print(max(a))

1
110

In [7]:
list1=['java','python','c','c++',]
list1.append('r')
print(list1)

['java', 'python', 'c', 'c++', 'r']

In [11]:
list1=[123,123,456,'abc','abc',456,123]
print("count for 123:",list1.count(123))
sub = 'abc'
print("count for abc:",list1.count(sub))

count for 123: 3
count for abc: 2

In [12]:
list1=['java','python','c','c++']
list1.insert(2,'machine learning')
print(list1)

['java', 'python', 'machine learning', 'c', 'c++']

In [13]:
lista=['physics','chemistry','maths','biology']
lista.pop(1)
print(lista)

['physics', 'maths', 'biology']

In [15]:
lista=['physics','chemistry','maths','biology']
lis = [1,2,11,10,4,8,7,9]
lis.sort()
print(lis)
lista.sort()
print(lista)

[1, 2, 4, 7, 8, 9, 10, 11]
['biology', 'chemistry', 'maths', 'physics']

In [16]:
a =[1,5,9,0,28,96,33]
print(a)
a.clear()
print(a)

[1, 5, 9, 0, 28, 96, 33]
[]

In [17]:
a = ["hello world","hell","ABC"]
b = a.copy()
print("b=",b)
print("c=",c)

b= ['hello world', 'hell', 'ABC']

NameError: name 'c' is not defined

# RANDOM

In [1]:
uniform
random
randrange
randint

NameError: name 'uniform' is not defined

In [2]:
#generate random numbers in python

import random
print(random.random())

0.8901513854544052

In [7]:
print(random.randrange(0,11))

5

In [6]:
print(random.uniform(0,10))

9.608083720550871

In [8]:
#make a program that creates a random number and stores into x.

x=random.random()
print(x)

0.7159666284657494

In [23]:
#create a program that generates a 100 random numbers and find the frequency of each number
import random


print("Random numbers between 0 and 100: ")
for i in range(0, 100):
y = random.randrange(77)
print(y)

IndentationError: expected an indented block after 'for' statement on line 6 (3236571134.py, line 7)

In [24]:
#1 to 10
import random
x = random.uniform(1,100)
print(x)

print(round(x))

81.80989436160442
82

In [19]:
#make a program that print three random numbers

import random #lib
randomlist = [] #empty list
for i in range(0,3):
    n = random.randint(1,100)
    randomlist.append(n)
print(randomlist)

[39, 72, 65]

In [21]:
print("randrange",random.randrange(1,5))
print("randint",random.randint(1,5))

randrange 3
randint 5

# DATE TIME

In [27]:
#1.time.time
#2.time.localtime
#3.time.asctime
#4.time.clock
#5.time.sleep#

In [28]:
import time
time.time()

1700134025.0497382

In [29]:
print(365-320)

45

In [30]:
time.localtime() #0 monday 1 , tuesday 2 wend

time.struct_time(tm_year=2023, tm_mon=11, tm_mday=16, tm_hour=16, tm_min=58, tm_sec=16, tm_wday=3, tm_yday=320, tm_isdst=0)

In [31]:
time.asctime(time.localtime(time.time())) #readable format

'Thu Nov 16 16:58:44 2023'

In [32]:
for a in "python":
    print(a)
    time.sleep(3)

p
y
t
h
o
n

In [1]:
 pip install dateparser

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: dateparser in c:\users\bhuvan\appdata\roaming\python\python311\site-packages (1.1.8)
Requirement already satisfied: python-dateutil in c:\programdata\anaconda3\lib\site-packages (from dateparser) (2.8.2)
Requirement already satisfied: pytz in c:\programdata\anaconda3\lib\site-packages (from dateparser) (2023.3.post1)
Requirement already satisfied: regex!=2019.02.19,!=2021.8.27 in c:\programdata\anaconda3\lib\site-packages (from dateparser) (2022.7.9)
Requirement already satisfied: tzlocal in c:\users\bhuvan\appdata\roaming\python\python311\site-packages (from dateparser) (5.2)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil->dateparser) (1.16.0)
Requirement already satisfied: tzdata in c:\programdata\anaconda3\lib\site-packages (from tzlocal->dateparser) (2023.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import dateparser
print(dateparser.parse('yesterday'))
print(dateparser.parse('morgen'))

2023-11-17 12:59:37.001033
2023-11-19 12:59:37.104592

# calender
1.month
2.calender(complete year)

In [5]:
pip install calendar

Note: you may need to restart the kernel to use updated packages.Defaulting to user installation because normal site-packages is not writeable

ERROR: Could not find a version that satisfies the requirement calendar (from versions: none)
ERROR: No matching distribution found for calendar

In [6]:
import calendar

In [9]:
cal = calendar.month(2023,11)
print(cal)

   November 2023
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30

In [10]:
calendar.monthrange(2023,11)#start day of month

(2, 30)

In [12]:
for name in calendar.month_name:
    print(name)

January
February
March
April
May
June
July
August
September
October
November
December

In [13]:
print(calendar.month_name)

<calendar._localized_month object at 0x0000018130A68050>

In [14]:
print(calendar.weekheader(2))

Mo Tu We Th Fr Sa Su

In [15]:
cal = calendar.calendar(2002)
print(cal)

                                  2002

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                   1  2  3
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       4  5  6  7  8  9 10
14 15 16 17 18 19 20      11 12 13 14 15 16 17      11 12 13 14 15 16 17
21 22 23 24 25 26 27      18 19 20 21 22 23 24      18 19 20 21 22 23 24
28 29 30 31               25 26 27 28               25 26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                         1
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30 31

#time and cal
1.strftime(str)
2.strptime(tuple)
3.mktime

In [16]:
import time

In [18]:
t = (2023,10,3,16,45,34,1,23,0)
T = time.mktime(t)
print(time.strftime("%b %d %Y %H %M : %S",time.localtime(T)))

Oct 03 2023 16 45 : 34

In [20]:
stru = time.strptime("30 12 2021","%d %m %Y")
print(stru)

time.struct_time(tm_year=2021, tm_mon=12, tm_mday=30, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=3, tm_yday=364, tm_isdst=-1)

In [22]:
calendar.weekday(2023,11,3)

4

In [23]:
calendar.isleap(2022)

False

In [24]:
calendar.isleap(2000)

True

In [25]:
calendar.leapdays(2000,2023)

6

In [26]:
import datetime

In [30]:
pip install datetime

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: datetime in c:\users\bhuvan\appdata\roaming\python\python311\site-packages (5.3)
Requirement already satisfied: zope.interface in c:\programdata\anaconda3\lib\site-packages (from datetime) (5.4.0)
Requirement already satisfied: pytz in c:\programdata\anaconda3\lib\site-packages (from datetime) (2023.3.post1)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\lib\site-packages (from zope.interface->datetime) (68.0.0)
Note: you may need to restart the kernel to use updated packages.

In [31]:
print(datetime.timedelta(days=10))

10 days, 0:00:00

In [32]:
from datetime import datetime
a = datetime(2016,10,6,0,0,0)
b = datetime(2016,10,1,23,59,59)
print(a-b)
print((a-b).days)
#4
print((a-b).total_seconds())

4 days, 0:00:01
4
345601.0

In [33]:
a = [1,2,8,788,564,123,546]
summ = sum(a)
print(summ)

2032

In [34]:
lent = len(a)
print(lent)

7

In [35]:
maxx = max(a)
print(maxx)

788

In [37]:
minn = min(a)
print(minn)

1

# FUNCTIONS

def funtionname(parameter):
    "Doc string"
    "Function_suite"
    return

In [38]:
def name():
    print("Educadd")
    
name()

Educadd

In [39]:
def name():
    
    
    fullname = 'abc'+'bcd'
    return fullname
name()

'abcbcd'

In [40]:
def name(fname,lname):
    
    fullname = fname+lname
    print("fullname",fullname)
    
name("ABC","BCD")

fullname ABCBCD

In [1]:

def name(fname,lname):
    
    fullname = fname+lname
    return "fullname",fullname
    
name("ABC","BCD")

('fullname', 'ABCBCD')

In [5]:
def name_of_country(country = "USA"):
    return country
name_of_country()

'USA'

In [6]:
name_of_country("INDIA")

'INDIA'

In [8]:
def sum_of_two_numbers(small_numbers,large_numbers):
    addition = large_numbers - small_numbers
    return addition
sum_of_two_numbers(20,10)

-10

In [9]:
sum_of_two_numbers(20,8)

-12

In [10]:
sum_of_two_numbers(2,10)

8

In [11]:
def sum_of_two_numbers_key_words(small_number = 8,large_number = 20):
    sumoftwovalues = large_number - small_number
    return sumoftwovalues
sum_of_two_numbers_key_words(large_number=20,small_number=10)

10

In [13]:
def add(*adds):
    first_variable = tuple('1')
    
    second_variable = adds + first_variable
    
    return second_variable

add(1,2,3,4,5,6,7,8)

(1, 2, 3, 4, 5, 6, 7, 8, '1')

In [15]:
def add(*adds):

    sum = 0
    for i in adds:
        sum += i
    return sum
add(1,2,3,4,5,6,7,8,9,33,44,55,66,77,88,99)

507

In [18]:
a=(1,2,3,4,5,6,7,8)
sum = 0


for i in a:
    sum = sum+i
    
print(sum)

36

In [19]:
add(1,2,3,4,5,88,9,77)

189

In [22]:
def student_details(**kwargs):
    
    return kwargs

f_var = student_details(f_name='abc',l_name='xyz',age= 2,phone_num='+917894561231')


print(f_var)

{'f_name': 'abc', 'l_name': 'xyz', 'age': 2, 'phone_num': '+917894561231'}

In [27]:
def add(P, Q):    
    return P + Q 

def subtract(P, Q):   
    return P - Q  

def multiply(P, Q):   
    return P * Q   

def divide(P, Q):   
    return P / Q 

def mod(P, Q):
    return P%Q

def f_div(P, Q):
    return P//Q

def exp(P, Q):
    return P**Q

In [ ]:
f_value = float(input("please enter the first value="))
s_value = float(input("please enter the second value="))



print()

In [ ]:

def add(x, y):
    return x + y


def subtract(x, y):
    return x - y


def multiply(x, y):
    return x * y


def divide(x, y):
    return x / y

def mod(x, y):
    return P%Q

def f_div(x, y):
    return x//y

def exp(x, y):
    return x**y


print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")
print("5.mod")
print("6.f_div")
print("7.exp")

    
    choice = input("Enter choice(1/2/3/4/5/6/7): ")

   
    if choice in ('1', '2', '3', '4','5','6','7'):
            num1 = float(input("Enter first number: "))
            num2 = float(input("Enter second number: "))
       

        if choice == '1':
            print(num1, "+", num2, "=", add(num1, num2))

        elif choice == '2':
            print(num1, "-", num2, "=", subtract(num1, num2))

        elif choice == '3':
            print(num1, "*", num2, "=", multiply(num1, num2))

        elif choice == '4':
            print(num1, "/", num2, "=", divide(num1, num2))
         
         elif choice == '5':
            print(num1, "%", num2, "=", divide(num1, num2))
        
         elif choice == '6':
            print(num1, "//", num2, "=", divide(num1, num2))
        
         elif choice == '7':
            print(num1, "**", num2, "=", divide(num1, num2))
    else:
        print("Invalid Input")

# python program to add two numbers

In [8]:
def add_num(a,b):
    sum=a+b;
    return sum;

num1=25  
num2=25
print("The sum is",add_num(num1,num2))

The sum is 50

In [7]:
#maximum of two numbers

def max(a, b):
     
    if a >= b:
        return a
    else:
        return b
     
a = 2000000000
b = 78945689
print(max(a, b))

2000000000

In [13]:
def factorial(n):
    if (n==0):
        return 0
    elif (n==1):
        return 1
    else:
        return n * factorial(n-1)
        
 

num = 8
print("Factorial of",num,"is",factorial(num))

Factorial of 8 is 40320

In [18]:
def simple_interest(p,t,r):
    print(' principal=',p)
    print(' time period=',t)
    print('rate of interest=',r)
     
    SI = (p*t*r)/100
     
    print('The Simple Interest is', SI)
    return SI
     

simple_interest(8,9,10)

 principal= 8
 time period= 9
rate of interest= 10
The Simple Interest is 7.2

7.2

In [35]:
#area of circle
def area_of_cir(pi=3.142,r=10):
        
        
        AREA = pi*r*r
        return AREA
    
area_of_cir(r=10)

314.2

In [7]:
#given number is prime number or not 

def check_prime_no(num):
       for i in range(2, num):
           if (num % i) == 0:
             print("{} is not Prime".format(num))
             break
       else:
           print("{} is Prime".format(num))

    
n = int(input("enter number "))
if n>1: 
 check_prime_no(n)
else:
 print("1 is neither prime nor composite")

enter number 5
5 is Prime

In [6]:
#sum of cubes
def CubeSum(n):
    s=0
    for i in range(n+1):
        s+=i**3
    return s
n=int(input("enter n: "))
print("sum of cubes of first {} natural numbers: ".format(n),CubeSum(n))

enter n: 5
sum of cubes of first 5 natural numbers:  225

In [3]:
#prime
def prime(i):

    if(i%2)==0:
        return "prime"
    else:
        return "odd"
n = int(input("enter the number="))
prime(n)

enter the number=8

'prime'

In [4]:
#square
def square(n):
    summ = 0
    for i in range(1,n+1):
        summ = i*i
    return summ
n = int(input("enter the value: "))
square(n)

enter the value: 5

25

In [5]:
# sum of squares of n natural numbers

def SumofSquares(n):
    summofsq=0
    for i in range(n+1):
        summofsq += i**2
    return summofsq


n=int(input("enter the value: "))
print("sum of squares of first {} natural numbers: ".format(n),SumofSquares(n))

enter the value: 5
sum of squares of first 5 natural numbers:  55

In [7]:
def fab(n):
    if (n<=0):
        return "incorrect input"
    elif(n==1):
        return 0
    elif(n==2):
        return 1
    else:
        return fab(n-1)+fab(n-2)
fibonacci = int(input("pls provide the number:"))
fab(fibonacci)

pls provide the number:5

3

In [8]:
#sum of array
def arr_sum(n,avg):
    summ = 0
    for i in n:
        summ += i
        
    average = summ/avg
    print("avg =",average)
    return "total=",summ

arr = [12,3,4,15]
arr_len = len(arr)
arr_sum(arr,arr_len)

avg = 8.5

('total=', 34)

In [9]:
# find maxx in array
def largest(arr,n):
    maxx = arr[0]
    
    for i in range(1,n):
        if arr[i] > maxx:
            maxx = arr[i]
    return maxx

arr = [987,546,8888,456]
n = len(arr)
ans = largest(arr,n)
print("largest in given array  ",ans)

largest in given array   8888

In [17]:
def minimum(arr,n):
    minn = arr[0]
    
    for i in range(1,n):
        if arr[i] < minn:
            minn = arr[i]
    return minn

arr = [987,546,8888,456]
n = len(arr)
ans = minimum(arr,n)
print("minimum in given array  ",ans)

minimum in given array   456

In [18]:
def swap(a,b):
    temp = a
    a = b
    b = temp
    
    return "a=",a, "b=",b
swap(a=10,b=11)

('a=', 11, 'b=', 10)

In [19]:
def swaplist(newlist):
    size = len(newlist)
    
    
    temp = newlist[0]
    newlist[0] = newlist[size - 1]
    newlist[size - 1] = temp
    
    return newlist


newlist = [12,35,9,65,24]
print(swaplist(newlist))

[24, 35, 9, 65, 12]

In [3]:
#dict
value = {}
value['name'] = "Bhuvan"
value['age'] = 21
value[8] = 8 
print(value[8])
print(value)
print(type(value))
print(value.keys())
print(value.values())

8
{'name': 'Bhuvan', 'age': 21, 8: 8}
<class 'dict'>
dict_keys(['name', 'age', 8])
dict_values(['Bhuvan', 21, 8])

In [7]:
#python program for finding a reminder of array multiplication divided by n

def findrem(arr,length,n):
    product = 1
    
    for i in range(length):
        product = product * arr[i]
        print(product)
    return product%n



arr = [10,100,5,25,35,14]
length = len(arr)
n = int(input("enter the value for n"))


findrem(arr,length,n)

enter the value for n5
10
1000
5000
125000
4375000
61250000

0

In [9]:
#python program to swap elements
# at given positions

#swap functions
def swapPositions(list,pos1,pos2):
    
    list[pos1],list[pos2] = list[pos2],list[pos1]
    return list

#driver function
List = [23,65,19,90]
pos1,pos2 = 1,3

print(swapPositions(List,pos-1,pos2-1))

NameError: name 'pos' is not defined

In [11]:
def multiplylist(mylist):

    result = 1
    
    for i in mylist:
        result = result*i
        
    return result

newlist = [1,2,4]

multiplylist(newlist)

8

In [1]:
#python program for reverse algorithm for array rotation

def reversearray(arr,d):
    c=(arr[d:])+(arr[:d])
    return c
#driver function
arr= [1,2,3,4,5,6,7]
d = 3
print(reversearray(arr,d))

[4, 5, 6, 7, 1, 2, 3]

In [3]:
#python program to split array and move first
#part to end



def splitarr(arr,n,k):
    for i in range(0,k):
        x = arr[0]
        for j in range(0,n-1):
            arr[j] = arr[j + 1]
        arr[n-1] = x
        
        
        
        
#main
arr = [12,10,5,6,52,36]
n = len(arr)
position = 2

splitarr(arr,n,position)

for i in range(0,n):
    print(arr[i],end=' ')

5 6 52 36 12 10

In [5]:
#count the elements in list

test_list = [1,4,5,7,8]

print("the list is : " + str(test_list))
counter = 0
for i in test_list:
#incrementing counter
    counter += 1
print("length of list using method is : " + str(counter))

the list is : [1, 4, 5, 7, 8]
length of list using method is : 5

#different ways to clear a list in python

using clear()
reinitiating the list
using"*=0"
using del
using pop()method
using slicing

In [6]:
new = [6,0,4,1]
print('GEEK befor clear:',new)


#clearing list
new.clear()
print('GEEK after clear:',new)

GEEK befor clear: [6, 0, 4, 1]
GEEK after clear: []

In [7]:
list1 = [1,2,3]

#printing list2 before deleting
print("list1 before deleting is : "+ str(list1))

#deleting list using reinitialization
list1 = []

#printing list2 after reinitialization
print("list1 after clearing using reinitialization : "+ str(list1))

list1 before deleting is : [1, 2, 3]
list1 after clearing using reinitialization : []

In [8]:
list1 = [1,2,3]
list2 = [5,6,7]

#printing list before deleting
print("list1 before deleting is : "+ str(list1))

#deleting list using del
del list1[:]
print("list1 after clearing using del : "+ str(list1))

#printing list before deleting
print("list2 before deleting is : "+ str(list2))

#deleting list using del
del list2[:]
print("list1 after clearing using del : "+ str(list2))

list1 before deleting is : [1, 2, 3]
list1 after clearing using del : []
list2 before deleting is : [5, 6, 7]
list1 after clearing using del : []

In [9]:
#function which return reverse of string

def isPalindrome(s):
    return s == s[::-1]

#driver code
s = "malayalam"
ans = isPalindrome(s)

if ans:
    print("YES")
else:
    print("NO")

YES

In [13]:
#reverse words of string
import re
def rev_sentence(sentence):
    
#find all words in sentence
    words = re.findall('\w+',sentence)
    
    reverse_sentence = ' '.join(words[i] for i in range(len(words)-1,-1,-1))
    
    return  reverse_sentence
if  __name__=="__main__":
    input = 'new quiz practice code'
    print ( rev_sentence(input))

code practice quiz new

In [7]:
def isPalindrome(b):
    return b == b[::-1]


b = "rotator"
ans = isPalindrome(b)

if ans:
    print("YES")
else:
    print("NO")

YES

# LAMDA

In [9]:
firstname = lambda lastname,fname: fname+ " "+lastname

print(firstname("kumar","Bhuvan"))

Bhuvan kumar

In [10]:
firstname = lambda lastname: lastname+" "+"Thinkworks"

print(firstname("Educadd"))

Educadd Thinkworks

In [11]:
var = lambda a,b :b+a
print(var(5,2))

7

In [12]:
var = lambda a : a +20


print('With argument value 5 : ',var(5))
print('With argument value 10 : ',var(10))

With argument value 5 :  25
With argument value 10 :  30

In [13]:
maxx = lambda x,y: x if(x>y) else y

print(maxx(8,1))

8

In [15]:
minn = lambda x,y: x if(x<y) else y

print(minn(88,10))

10

In [16]:
add = lambda x,y: x + y

print(add(24,55))

79

In [18]:
sub = lambda x,y: x - y

print(sub(99,55))

44

In [19]:
div = lambda x,y: x/y

print(div(24,2))

12.0

In [25]:
avg = lambda x,y: (x+y)/2

print(avg(24,55))

39.5

In [22]:
value = lambda a : a+20
print(value(20))

40

In [24]:
lambda_add = lambda a,b : a+b


print('the value of 5+3=',lambda_add(5,3))
print('the value of 7+2=',lambda_add(7,2))

the value of 5+3= 8
the value of 7+2= 9

In [26]:
orig_list = [5,17,56,45,8,5,6,88,96,237,133,78,21,32,43]

#filter the odd numbers from list
filtered_list = list(filter(lambda x: (x%2 != 0) , orig_list))

print('the odd numbers are :',filtered_list)

the odd numbers are : [5, 17, 45, 5, 237, 133, 21, 43]

In [27]:
orig_list = [5,17,56,45,8,5,6,88,96,237,133,78,21,32,43]

#filter the even numbers from list
filtered_list = list(filter(lambda x: (x%2 == 0) , orig_list))

print('the even numbers are :',filtered_list)

the even numbers are : [56, 8, 6, 88, 96, 78, 32]

In [2]:
orig_list = [5,17,56,45,8,5,6,88,96,237,133,78,21,32,43]

#filter the numbers divisible from list
filtered_list = list(filter(lambda x: (x%5 == 0) , orig_list))

print('the  numbers divisible by 5 are :',filtered_list)

the  numbers divisible by 5 are : [5, 45, 5]

# MAP FUNCTION

In [3]:
original_list = [1,2,3,4,5,6,7,8,9,10]
#double each number in the original list
mapped_list = list(filter(lambda x: x*2, original_list))
print('New List : ',mapped_list)

New List :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
original_list = [1,2,3,4,5,6,7,8,9,10]
#double each number in the original list
mapped_list = list(map(lambda x: x*2, original_list))
print('New List : ',mapped_list)

New List :  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [5]:
original_list = ['analytics','king','south','east']
#capitalise first letter of each word in original list
mapped_list = list(map(lambda x: x[0].upper()+x[1:], original_list))
print('New List : ',mapped_list)

New List :  ['Analytics', 'King', 'South', 'East']

# REDUCE FUNCTION

# the reduce function in python will always take two parameters

In [7]:
from functools import reduce
original_list = [1,2,3,4,5,6,7,8,9]
#use reduce function to find the sum of numbers in the original list
sum_of_list = reduce((lambda x,y : x + y), original_list)
print('sum of Numbers in the original list is : ',sum_of_list)

sum of Numbers in the original list is :  45

In [11]:
original_list = [110,53,3,424,255,16,42,2560]
#use reduce function to find the largest number in the original list
largest_number = reduce((lambda x, y: x if (x>y) else y ),original_list)
print ('Largest Number in the original List is : ',largest_number)

Largest Number in the original List is :  2560

In [4]:
 Name = "Apple King"
 key = str(input("character to search"))
for i in range(0,len(Name)):
    if(key=='K'):
        print("char found at index",i)
    else:
            print("not found")

character to searchK
char found at index 0
char found at index 1
char found at index 2
char found at index 3
char found at index 4
char found at index 5
char found at index 6
char found at index 7
char found at index 8
char found at index 9

In [23]:
name = str(input("enter the string=")).lower()
print(name)

searchelem =str(input("enter the char to search=")).lower()

for i in range(0,len(name)):
    if(name[i]==searchelem):
        print("found")
        break
else:
    print("not found")

enter the string=APPLE
apple
enter the char to search=A
found

In [27]:
name = str(input("enter the string=")).lower()

searchelem =str(input("enter the char to search=")).lower()

for i in range(0,len(name)):
    if(name[i]==searchelem):
        print("found @ index",i)
        break
else:
    print("not found")

enter the string=ApplE
apple
enter the char to search=E
found @ index 4

#       DSA
*LINEAR SEARCH

In [30]:
#Method
def linearsearch(array,key,sizeofarray):
    for i in range(0,sizeofarray): 
        if(array[i]==key):
            return i
    return -1

In [1]:
#input


lst = []
array_size = int(input("Enter the size of the array\n"))

for i in range(0,array_size):
    ele = int(input("store the value for list="))
    lst.append(ele)
print("Array values=",lst)


KeyElementToBeSearch = int(input("Enetr the value to be search ="))

Enter the size of the array
5
store the value for list=21
store the value for list=22
store the value for list=23
store the value for list=24
store the value for list=25
Array values= [21, 22, 23, 24, 25]
Enetr the value to be search =23